In [2]:
import pandas as pd

In [3]:
!pip install openpyxl
!pip install XLRD

Requirement already satisfied: openpyxl in c:\users\p7362\anaconda3\lib\site-packages (3.0.3)
Requirement already satisfied: et-xmlfile in c:\users\p7362\anaconda3\lib\site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: jdcal in c:\users\p7362\anaconda3\lib\site-packages (from openpyxl) (1.4.1)
Requirement already satisfied: XLRD in c:\users\p7362\anaconda3\lib\site-packages (1.2.0)

In [4]:
boston_data = pd.read_csv('boston.csv',usecols=['CHAS','NOX','RM'])
boston_data.to_excel('my_boston.xlsx',sheet_name='boston')

In [34]:
#新題目
#1.
df = pd.DataFrame([[30, 21], ], columns=['Apples', 'Bananas'])
print(df)

   Apples  Bananas
0      30       21

In [36]:
df = pd.DataFrame([[30, 21], [41, 34]], index=['2017 Sales', '2018 Sales'], columns=['Apples', 'Bananas'])
print(df)

            Apples  Bananas
2017 Sales      30       21
2018 Sales      41       34

In [38]:
df = pd.DataFrame([['Austin', 139, 'Sun'], 
                   ['Dallas', 237, 'Sun'], 
                   ['Austin', 139, 'Mon'], 
                   ['Dallas', 456, 'Mon']], 
                  columns=['city', 'visitor', 'weekday'])
df

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      139     Mon
3  Dallas      456     Mon

In [41]:
import numpy as np
sun_m = np.average(df[df['weekday'] == 'Sun']['visitor'])
Mon_m = np.average(df[df['weekday'] == 'Mon']['visitor'])
print(sun_m)
print(Mon_m)

188.0
297.5